body{
  background-color: aliceblue;
}
.nav {
    display: flex;
    justify-content: space-between;
    position: sticky;
    background-color: rgb(223, 231, 223);
    color: white;
    padding: 15px;
    font-size: 2em;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
  }

  .Search{
    color:rgb(28, 28, 29);
    text-align: center;
    font: 1em sans-serif;
    font-size: medium;
  }

  .img{
    display: flex;
    animation: spin 30s linear infinite
  }
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  